{% extends 'layoutAdmin.html.twig' %}


{% block title %} Ajouter une chambre{% endblock %}

    {% block content %}


        errors{{ dump (errors) }}<br><br>

        Data {{ dump (data) }}<br><br>

        POST {{ dump(post) }}

        caracteristics {{ dump (caracteristics) }}<br><br>

        CARAC KEY
        {% for key, caracteristic in caracteristics[0] %}
            {{ key }}
        {% endfor %}<br><br>



        <h1>Ajouter une chambre</h1>

        <div class="row justify-content-center">
            <form method="POST" enctype="multipart/form-data" action="addroom" class="col-5">

                <div class="row">
                    <label for="roomName" class=" col-4 pt-1 pl-3">Nom de la chambre :</label>


                    <input type="text" class=" mb-2 col-6" id="roomName" name="name"
                           placeholder="Moins de 50 caractères" value="{{ data.name }}">
                </div>
                {% if errors.name %}

                    <div class="alert alert-danger">{{ errors.name }}</div>

                {% endif %}
                <div class="row pt-2">
                    <label for="description" class="col-4 align-self-center">Description de la chambre :</label>


                    <textarea class=" mb-2 m-0 col-6" id="description" name="description"
                              placeholder="Entrez votre description ici" rows="3">{{ data.description }}</textarea>
                </div>
                {% if errors.description %}

                    <div class="alert alert-danger">{{ errors.description }}</div>

                {% endif %}
                <div class="row pt-2 mt-2 mb-2">
                    <label for="price" class=" col-4 pt-1 pl-3">Prix de la chambre :</label>

                    <input type="number" class=" mb-2 col-6" id="price" name="price"
                           value="{{ data.price }}">
                </div>
                {% if errors.price %}

                    <div class="alert alert-danger">{{ errors.price }}</div>
                {% endif %}

                {% for key, caracteristic in caracteristics[0] %}


                    <div class="row mb-3">
                        <label for="caracteristic{{ loop.index }}"
                               class=" col-4 pt-1 pl-3">Caractéristique {{ loop.index }} : </label>


                        <input type="text" class=" mb-2 col-6" id="caracteristic{{ loop.index }}"
                               name="{{ key }}"
                               placeholder="Moins de 50 caractères" value="{{ data[key] }}">

                    </div>

                    {% if errors[key] %}
                        <div class="alert alert-danger">{{ errors[key] }}</div>

                    {% endif %}
                {% endfor %}

                <!-- END CARAC-->


                {% for key, photo in photos %}
                <div class="row mb-2 mt-3">

                    <label for="photo{{ loop.index }}" class=" col-2 pt-1 pl-3">Photo {{ loop.index }}:</label>


                    <input type="file" name="photo{{ key }}" id="photo{{ loop.index }}" class="mb-2 col-6 mr-0">
                    {% if errors[key] %}
                        <div class="alert alert-danger">{{ errors[key] }}</div>
                    {% endif %}
                </div>
                    {% endfor %}
                    <div class="row justify-content-center mt-5">
                        <input type="submit" name="Envoyer" class="col-3 mt-4 mb-4">

                </div>

            </form>

        </div>
    {% endblock %}








