{% extends 'layoutAdmin.html.twig' %}



    {% block content %}

        {{ dump(errors) }}
        {{ dump(data) }}
        {{ dump (post) }}



        <h1>Ajouter une chambre</h1>

        <div class="row justify-content-center">
            <form method="POST" enctype="multipart/form-data" action="addroom" class="col-5">

                <div class="row">
                    <label for="roomName" class=" col-4 pt-1 pl-3">Nom de la chambre :</label>


                    <input type="text" class=" mb-2 col-6" id="roomName" name="name"
                           placeholder="Moins de 50 caractères" value="{{ data.name }}">
                </div>
                {% if errors.name %}
                    <div class="alert alert-danger">{{ errors.name }}</div>
                {% endif %}
                <div class="row pt-2">
                    <label for="description" class="col-4 align-self-center">Description de la chambre :</label>


                    <textarea class=" mb-2 m-0 col-6" id="description" name="description"
                              placeholder="Entrez votre description ici" rows="3">{{ data.description }}</textarea>
                </div>
                {% if errors.description %}
                    <div class="alert alert-danger">{{ errors.description }}</div>
                {% endif %}
                <div class="row pt-2 mt-2 mb-2">
                    <label for="price" class=" col-4 pt-1 pl-3">Prix de la chambre :</label>

                    <input type="number" class=" mb-2 col-6" id="price" name="price"
                           value="{{ data.price }}">
                </div>
                {% if errors.price %}
                    <div class="alert alert-danger">{{ errors.price }}</div>
                {% endif %}
                <div class="row pt-2 mb-3 mt-2">
                    <label for="area" class=" col-4 pt-1 pl-3">Surface de la chambre :</label>


                    <input type="number" class=" mb-2 col-6" id="area" name="area"
                           value="{{ data.area }}">
                </div>
                {% if errors.area %}
                    <div class="alert alert-danger">{{ errors.area }}</div>
                {% endif %}

                <div class="row mb-3">
                    <label for="caracteristic1" class=" col-4 pt-1 pl-3">Caractéristique 1 : </label>


                    <input type="text" class=" mb-2 col-6" id="caracteristic1"
                           name="caracteristic1"
                           placeholder="Moins de 50 caractères" value="{{ data.caracteristic1 }}">

                </div>

                {% if errors.caracteristic1 %}
                    <div class="alert alert-danger">{{ errors.caracteristic1 }}</div>

                {% endif %}


                {% for i in 1..4 %}
                    <div class="row mb-2 mt-3">

                        <label for="photo{{ i }}" class=" col-2 pt-1 pl-3">Photo {{ i }}:</label>
                        {% if loop.first %}
                            <div class="col-3 font-weight-bold pt-1"> Photo principale :</div>
                        {% endif %}

                        <input type="file" name="photo{{ i }}" id="photo{{ i }}" class="mb-2 col-6 mr-0">


                    </div>
                {% endfor %}
                <div class="row justify-content-center mt-4">
                    <input type="submit" name="Envoyer" class="col-3 mb-4">
                </div>
            </form>

        </div>
    {% endblock %}








